## Homework-Week#3 Solution
##### Classification task

In [171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [172]:
# Get the data
PATH = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
data = pd.read_csv(PATH)

In [173]:
# view the first few data
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [174]:
# features
features = ['latitude', 'longitude', 'housing_median_age',
            'total_rooms', 'total_bedrooms', 'population',
            'households','median_income','median_house_value',
            'ocean_proximity']

data = data[features]
data.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

### Data Preparation

- Select only the features from above and fill in the missing values with 0.
- Create a new column rooms_per_household by dividing the column total_rooms by the column households from dataframe.
- Create a new column bedrooms_per_room by dividing the column total_bedrooms by the column total_rooms from dataframe.
- Create a new column population_per_household by dividing the column population by the column households from dataframe.

In [175]:
# Handling missing values
print("Columns with missing data::", data.columns[data.isnull().any().tolist()].tolist())

Columns with missing data:: ['total_bedrooms']

In [176]:
# Fill missing values in `total bedrooms` columns with value `0`.
data['total_bedrooms'].fillna(0, inplace=True)

In [177]:
# create a new columns
# rooms per household
data['rooms_per_household'] = data['total_rooms']/data['households']

# bedrooms per room
data['bedrooms_per_room'] = data['total_bedrooms']/data['total_rooms']

# population per household
data['population_per_household'] = data['population']/data['households']

**Question 1** - 
What is the most frequent observation (mode) for the column ocean_proximity?

In [178]:
# Ocean Proximity
data['ocean_proximity'].mode()[0]

'<1H OCEAN'

## Split the data
- Split your data in train/val/test sets, with 60%/20%/20% distribution.
- Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
- Make sure that the target value (median_house_value) is not in your dataframe.

In [179]:
from sklearn.model_selection import train_test_split

# split the data into X and y
X = data.drop(columns=['median_house_value'], axis=1).copy()
y = data['median_house_value']

# Split the data into training/ validation/ test dataset into ratio 60:20:20.
X_full, X_test, y_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(X_full, y_full, test_size=0.25, random_state=42)

# Reset the index
X_train.reset_index(drop=True, inplace=True)
X_val.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)

y_train.reset_index(drop=True, inplace=True)
y_val.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)

**Question 2** - What are the two features that have the biggest correlation in this dataset?

In [180]:
numeric_cols = X_train.select_dtypes(exclude='object').columns.tolist()
data[numeric_cols].corr()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household
latitude,1.000000,-0.924664,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,0.106389,-0.104112,0.002366
longitude,-0.924664,1.000000,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.027540,0.084836,0.002476
housing_median_age,0.011173,-0.108197,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,-0.153277,0.125396,0.013191
total_rooms,-0.036100,0.044568,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.133798,-0.174583,-0.024581
total_bedrooms,-0.065318,0.068082,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.002717,0.122205,-0.028019
population,-0.108785,0.099773,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.072213,0.031397,0.069863
households,-0.071035,0.055310,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,-0.080598,0.059818,-0.027309
median_income,-0.079809,-0.015176,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.326895,-0.573836,0.018766
rooms_per_household,0.106389,-0.027540,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,1.000000,-0.387465,-0.004852
bedrooms_per_room,-0.104112,0.084836,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.387465,1.000000,0.003047
population_per_household,0.002366,0.002476,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.004852,0.003047,1.000000

`total_bedrooms` and `household` features has highest correlation.

### Make `median_house_value` binary

- We need to turn the median_house_value variable from numeric into binary.
- Let's create a variable above_average which is 1 if the median_house_value is above its mean value and 0 otherwise.

In [181]:
# Make a `median_house_value` binary
def make_binary(y):
    average = np.mean(y)
    above_average = (y > average).astype('int')
    return above_average

y_train_bin = make_binary(y_train)
y_val_bin = make_binary(y_val)
y_test_bin = make_binary(y_test)

**Question 3** - 
- Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
- What is the value of mutual information?
- Round it to 2 decimal digits using round(score, 2)

In [182]:
from sklearn.metrics import mutual_info_score

info_score = mutual_info_score(X_train['ocean_proximity'], y_train_bin)
round(info_score, 2)

0.1

**Question 4** 

* Now let's train a logistic regression
* Remember that we have one categorical variable `ocean_proximity` in the data. Include it using one-hot encoding.
* Fit the model on the training dataset.
    - To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
    - model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
* Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [183]:
# Convert the data into dictionary format
X_train_dict = X_train.to_dict(orient='records')
X_val_dict = X_val.to_dict(orient='records')
X_test_dict = X_test.to_dict(orient='records')

In [184]:
# One-Hot Encoding
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression

dv = DictVectorizer(sparse=False)
df_train = dv.fit_transform(X_train_dict)

# Model Training
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(df_train, y_train_bin)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [185]:
# Evaluate the model on validation dataset.
df_val = dv.transform(X_val_dict)
y_preds = model.predict_proba(df_val)[:, 1]

# compute the accuracy
accuracy = (y_val_bin == (y_preds>=0.5)).mean()
round(accuracy, 2)

0.84

**Question 5**
- Let's find the least useful feature using the feature elimination technique.
- Train a model with all these features (using the same parameters as in Q4).
- Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
- For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
- Which of following feature has the smallest difference?
    * total_rooms
    * total_bedrooms
    * population
    * households

In [186]:
# Data preparation
# Tranform the data using dictionary vectorizer
X_train_transform = dv.fit_transform(X_train_dict)
X_val_transform = dv.fit_transform(X_val_dict)
X_test_transform = dv.fit_transform(X_test_dict)

feature_attr = dv.get_feature_names_out().tolist()

df_train = pd.DataFrame(X_train_transform, columns=feature_attr)
df_val = pd.DataFrame(X_val_transform, columns=feature_attr)
df_test = pd.DataFrame(X_test_transform, columns=feature_attr)

In [187]:
# model with all features
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(df_train, y_train_bin)
y_preds = model.predict(df_val)
accuracy = (y_val_bin == y_preds).mean()

In [188]:
def compute_acc_diff(column):
    train_data = df_train.drop(column, axis=1)
    test_data = df_val.drop(column, axis=1)
    
    # model training
    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(train_data, y_train_bin)
    predictions = model.predict(test_data)
    score = (y_val_bin == predictions).mean()

    return  abs(accuracy - score)

In [189]:
accuracy_diff = {}
for col in feature_attr:
    accuracy_diff[col] = compute_acc_diff(col)
    
accuracy_diff

{'bedrooms_per_room': 0.0,
 'households': 0.0029069767441860517,
 'housing_median_age': 0.005813953488372103,
 'latitude': 0.0021802325581394832,
 'longitude': 0.0031492248062015005,
 'median_income': 0.04941860465116277,
 'ocean_proximity=<1H OCEAN': 0.0007267441860464574,
 'ocean_proximity=INLAND': 0.0,
 'ocean_proximity=ISLAND': 0.0009689922480620172,
 'ocean_proximity=NEAR BAY': 0.0002422480620154488,
 'ocean_proximity=NEAR OCEAN': 0.0004844961240310086,
 'population': 0.009447674418604612,
 'population_per_household': 0.0004844961240310086,
 'rooms_per_household': 0.00024224806201555982,
 'total_bedrooms': 0.0009689922480620172,
 'total_rooms': 0.00024224806201555982}

Which of following feature has the smallest difference? - total_rooms

**Question 6**

* For this question, we'll see how to use a linear regression model from Scikit-Learn
* We'll need to use the original column 'median_house_value'. Apply the logarithmic transformation to this column.
* Fit the Ridge regression model (model = Ridge(alpha=a, solver="sag", random_state=42)) on the training data.
* This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10]
* Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.

If there are multiple options, select the smallest alpha.

In [195]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

alpha = [0, 0.01, 0.1, 1, 10]
for a in alpha:
    model = Ridge(alpha=a, solver='sag', random_state=42)
    model.fit(df_train, np.log1p(y_train))
    y_val_preds = model.predict(df_val)
    mse = mean_squared_error(np.log1p(y_val), y_val_preds)
    print("alpha :: %f, RMSE::%.3f" %(a, np.sqrt(mse)))

alpha :: 0.000000, RMSE::0.524
alpha :: 0.010000, RMSE::0.524
alpha :: 0.100000, RMSE::0.524
alpha :: 1.000000, RMSE::0.524
alpha :: 10.000000, RMSE::0.524